.sidecard {
  max-width: 350px;
  z-index: 111;
}

.text-warning .list-group-item {
  border-color: #ffc107;
}

.navbar {
  z-index: 1111;
}

.my-bg-grey {
  background-color: rgb(14, 14, 14);
}

.my-bg-grey .list-group-item {
  background-color: rgb(71, 71, 71);
}

.bg-img {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  min-height: 400px;
  max-height: 45vh;
  width: auto;
  left: 0;
}

.bg-img img {
  min-height: 400px;
  width: 100%;
}

@media (min-width: 1700px) {
  .container {
    max-width: 1700px;
  }
}
